* > body {
  margin: 0;
  box-sizing: border-box;
}

.nav-bar {
  flex-grow: 1;
}

.nav-link {
  color: #fafafa;
  text-decoration: none;
}

.flex-grow {
  flex-grow: 1;
}

.center {
  text-align: center;
}

.center-avatar {
  margin-left: 37.5%;
  width: 60px !important;
  height: 60px !important;
}
.center-btn {
  justify-content: space-evenly;
}

.center-tabs {
  justify-content: center;
}

.card {
  max-width: 275px;
  margin: auto;
  margin-top: 40px;
}

.top-mr-30 {
  margin-top: 30px;
}

.min-width {
  min-width: 250px;
}

.leaderboard-card {
  display: flex;
  /* max-width: 150px; */
  margin: 20px 0;
}

.card-media {
  width: 151px !important;
}

.card-media-answer {
  width: 300px !important;
}

.question {
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.pagde span {
  right: -31px;
}
